body {
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-weight: 400;
	color: #4b4b4b;
	background-color: #e1f0f8;
}
img {
	max-width: 100%;
	height: auto;
}
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
.container {
	margin: 0;
	padding: 0;
	width: 1145px;
	margin: 0 auto;
}
.header {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}
.header__navigation {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}
.header__logo-general {
	margin: 0;
	padding: 0;
	margin-top: 15px;
	margin-left: 25px;
	margin-bottom: 20px;
	width: 232px;
	height: 122px;
}
.header__price {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: 72px;
	padding-bottom: 35px;
	font-size: 23px;
	font-weight: 400;
	color: #f36240;
	letter-spacing: 1px;
}
.header__contacts {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	padding-right: 25px;
	padding-bottom: 30px;
	width: 275px;
	font-size: 16px;
	font-weight: 400;
	color: #484745;
}
.header__contacts span {
	font-size: 31px;
}
.header__site-navigation {
	display: flex;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;	
	width: 1145px;
	list-style: none;	
	background-color: white;
}
.header__site-navigation-item {
	margin: 0;
	padding: 0;
}
.header__site-navigation-item a {
	display: block;
	padding-top: 15px;	
	padding-bottom: 15px;
	padding-right: 50px;
	padding-left: 50px;
	font-size: 24px;
	color: #5f6973;
	background-color: #ffffff;
	text-decoration: none;
	border-right: 1px solid #5f6973;
}
.header__site-navigation-item--about-company a {
	width: 240px;
	padding-right: 52px;
	padding-left: 50px;
}
.header__site-navigation-item--price a {
	width: 227px;
	padding-right: 90px;
	padding-left: 75px;
}
.header__site-navigation-item--services-design a {
	width: 250px;
	padding-right: 20px;
	padding-left: 20px;
}
.header__site-navigation-item--promo a {
	width: 214px;
	padding-right: 80px;
	padding-left: 68px;
}
.header__site-navigation-item--contacts a {
	width: 214px;
	padding-right: 58px;
	padding-left: 54px;
	border-right: 0px;
}
.header__site-navigation-item a:hover {
	color: #ffffff;
	background-color: #7bc3d5;
}
.main {
	margin: 0;
	padding: 0;
}
.main-title {
	margin: 0;
	padding: 0;
	font-size: 64px;
	font-weight: 400;
	color: #4b4b4b;
}
.main-title-annotation {
	margin: 0;
	padding: 0;
	margin-top: 5px;
	font-size: 26px;
	font-weight: 400;
	color: #4b4b4b;
}
.wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
}
.recommendations {
	align-self: flex-start;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 25px;
	padding-bottom: 35px;
	width: 240px;
	min-height: 471px;
	font-size: 20px;
	font-weight: 400;
	color: #4b4b4b;
	background-color: #ffffff;
	border-radius: 10px;
}
.main__recommendations {
	margin: 0;
	padding: 0;	
	margin-top: 18px;	
	list-style: none;
}
.main__recommendations-item {
	padding-bottom: 10px;
}
.main__recommendations-item a {	
	font-size: 16px;
	color: #8a8a8a;
	cursor: pointer;
}
.main__recommendations-item a:hover {
	color: #eb5825;
}
.main__choice-color {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 76px;
	padding-left: 24px;
	width: 880px;
	background-color: #ffffff;
	border-radius: 10px;
}
.main__choice-color-title {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	width: 828px;
	font-size: 26px;
	font-weight: 400;
	color: #484848;
}
.main__choice-color_wrapper {
	display: flex;
	justify-content: space-between;
}
.main__choice-color_imagery {
	margin: 0;
	padding: 0;
	padding-left: 57px;
	width: 272px;
}
.main__choice-color_irish-oak {
	width: 198px;
	height: 353px;
	margin-bottom: 30px;
}
.main__choice-color_what {
	display: block;
	margin: 0;
	padding: 0;
	width: 272px;
	padding-top: 8px;
	padding-right: 40px;
	padding-bottom: 37px;
	padding-left: 37px;
	font-size: 18px;
	font-weight: 400;
	color: #a6a6a6;
}
.main__choice-color-wrap {
	display: flex;
	flex-direction: column;
	width: 474px;
}
.main__choice-color-list {
	margin: 0;
	padding: 0;
	padding-left: 20px;
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 400;
}
.main__choice-color-item {
	margin-bottom: 10px;
	color: red;
	list-style-type: disc;
}
.main__choice-color-item span {
	color: #484848;
}
.filter-form input[type="checkbox"] {
	display: none;
}
.filter-form-item { 
	margin: 0;
	padding: 0;
	border: none;
	margin-bottom: 25px;
}
.filter-form-title {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 400;
	color: #484848
}
.filter-form-choice-color-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 474px;
}
.filter-form-choice-color-item {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;	
	width: 59px;
	height: 59px;
}
.filter-form-choice-color-item:last-child {
	margin-right: 0px;
}
.filter-form-choice-color-item label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}
.filter-form-checkbox-icon_irish-oak::before {
	content: "";
	display: block;
	position: absolute;
	left:0px;
	top: 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: url("../img/choice-color.png") no-repeat; 
	background-position: 0px 0px;
}
.filter-form-checkbox-icon_mountain-pine::after,
.filter-form-checkbox-icon_golden-oak::after,
.filter-form-checkbox-icon_light-oak::after,
.filter-form-checkbox-icon_nut::after,
.filter-form-checkbox-icon_walnut::after, 
.filter-form-checkbox-icon_irish-oak::after,
.filter-form-checkbox-icon_oregon::after {
	content: "";
	display: none;
	position: absolute;
	left: 0px;
	top: 0;
	width: 60px;
	height: 60px;
	font-size: 0;
	line-height: 60px;
	border: 0;
	background-image: url(../img/checkmark-outline.svg);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: 13px 8px;
	cursor: pointer;
}
.filter-form-checkbox-icon_mountain-pine::before {
	content: "";
	display: block;
	position: absolute;
	left: 0px;
	top: 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: url("../img/choice-color.png") no-repeat; 
	background-position: -69px 0px;
}
.filter-form-checkbox-icon_oregon::before {
	content: "";
	display: block;
	position: absolute;
	left: 0px;
	top: 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: url("../img/choice-color.png") no-repeat; 
	background-position: -137px 0px;
}
.filter-form-checkbox-icon_light-oak::before {
	content: "";
	display: block;
	position: absolute;
	left: 0px;
	top: 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: url("../img/choice-color.png") no-repeat; 
	background-position: -206px 0px;
}
.filter-input-checkbox:checked + .filter-form-checkbox-icon_light-oak::after {
    display: block;
}
.filter-form-checkbox-icon_nut::before {
	content: "";
	display: block;
	position: absolute;
	left: 0px;
	top: 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: url("../img/choice-color.png") no-repeat; 
	background-position: -275px 0px;
}
.filter-form-checkbox-icon_golden-oak::before {
	content: "";
	display: block;
	position: absolute;
	left: 0px;
	top: 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: url("../img/choice-color.png") no-repeat; 
	background-position: -344px 0px;
}
.filter-form-checkbox-icon_walnut::before {
	content: "";
	display: block;
	position: absolute;
	left: 0px;
	top: 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: url("../img/choice-color.png") no-repeat; 
	background-position: -413px 0px;
}
.filter-input-checkbox:checked + .filter-form-checkbox-icon_walnut::after,
.filter-input-checkbox:checked + .filter-form-checkbox-icon_mountain-pine::after,
.filter-input-checkbox:checked + .filter-form-checkbox-icon_golden-oak::after,
.filter-input-checkbox:checked + .filter-form-checkbox-icon_light-oak::after,
.filter-input-checkbox:checked + .filter-form-checkbox-icon_oregon::after,
.filter-input-checkbox:checked + .filter-form-checkbox-icon_nut::after,
.filter-input-checkbox:checked + .filter-form-checkbox-icon_irish-oak::after {
    display: block;
}
.main__choice-color-wrap span {
	font-size: 14px;
	font-weight: 400;
	color: #484848;
}
.main__choice-color-wrap a {
	color: #8a8a8a;
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}
.button {
	margin: 0;
	padding: 0;
	display: block;
	width: 310px;
	margin-top: 45px;
	margin-bottom: 15px;
	padding-top: 9px;
	padding-right: 40px;
	padding-bottom: 9px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	border: none;
	outline: none;
	color: #ffffff;
	background-color:  #eb5825;
	border-radius: 5px;
}
.section-lamination {
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-bottom: 26px;
	padding-top: 16px;
	padding-right: 25px;
	padding-bottom: 40px;
	padding-left: 26px;
	width: 880px;
	background-color: #ffffff;
	border-radius: 10px;
}
.section-title-lamination {
	margin: 0;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: 400;
	color: #484848;
}
.section-list-lamination {
	position: relative;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: 400;
	color: #484848;
	list-style: none;
}
.section-item-lamination {
	padding-left: 85px;
	padding-bottom: 20px;
}
.section-shape1::before {
	content: "";
	position: absolute;
	top: 70px;
	left: 0;
	width: 49px;
	height: 59px;
	background-image: url("../img/Shape 1.png");
	background-repeat: no-repeat;
}
.section-forma1::before {
	content: "";
	position: absolute;
	top: -5px;
	left: 0;
	width: 55px;
	height: 53px;
	background-image: url("../img/Forma 1.png");
	background-repeat: no-repeat;
}
.section-list-how-windows-become-colored {
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 400;
	color: #484848;
	list-style: none;
}
.section-item-how-windows-become-colored {
	padding-left: 50px;
	padding-bottom: 10px;
}
.section-list-how-windows-become-colored .one::before {
	content: "1";
	position: absolute;
	top: -5px;
	left: -5px;
	width: 34px;
	height: 34px;
	font-size: 20px;
	color: #484848;
	border-radius: 50%;
	border: 2px solid #484848;
	text-align: center;
}
.section-list-how-windows-become-colored .two::before {
	content: "2";
	position: absolute;
	top: 50px;
	left: -5px;
	width: 34px;
	height: 34px;
	font-size: 20px;
	color: #484848;
	border-radius: 50%;
	border: 2px solid #484848;
	text-align: center;
}
.section-list-how-windows-become-colored .three::before {
	content: "3";
	position: absolute;
	top: 100px;
	left: -5px;
	width: 34px;
	height: 34px;
	font-size: 20px;
	color: #484848;
	border-radius: 50%;
	border: 2px solid #484848;
	text-align: center;
}
